body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-name {
  margin: 0;
}

.search-bar {
  display: flex;
}

.search-bar input {
  padding: 5px;
}

.search-bar button {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #fff;
  color: #333;
  border: none;
  cursor: pointer;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f4f4f4;
}

.article-container {
  display: flex;
  justify-content: space-around;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../images/main-background-picture.jpg') center/cover no-repeat;
  z-index: -1; /* Place it behind the articles */
}

article {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50%; /* Make the article a circle */
  overflow: hidden; /* Ensure content does not overflow from the circle */
}

article h2 {
  margin: 0;
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
