.tabs a span {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}
.tabs a span.active {
    background: #eee;
}
.content p {
    margin-right: 10px;
    padding: 5px;
    border-radius: 30px;
}
.content li:nth-child(even) {
    background: lavender;
}
.content li:nth-child(odd) {
    background: gainsboro;
}
.content h3 {
    color: blueviolet;
}
